{%- if section.settings.enable_announcement and section.settings.messages != blank -%}
  {%- assign closed = false -%}
  <announcement-bar
    class="announcement-bar"
    data-storage-key="announcement_closed_v1"
  >
    <div class="announcement-bar__inner">
      <div class="announcement-bar__messages" data-announcement-messages>
        {%- for block in section.blocks -%}
          {%- if block.type == 'message' and block.settings.text != blank -%}
            <div
              class="announcement-bar__message"
              data-announcement-message
              {{ block.shopify_attributes }}
            >
              {{ block.settings.text }}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>

      {%- if section.settings.show_close_button -%}
        <button
          type="button"
          class="announcement-bar__close"
          data-announcement-close
          aria-label="{{ 'general.close' | t }}"
        >
          ✕
        </button>
      {%- endif -%}
    </div>
  </announcement-bar>
{%- endif -%}