<div class="announcement-bar" id="announcement-bar">
  <div class="announcement-bar__track">
    {% for block in section.blocks %}
      <div class="announcement-bar__message" 
           data-end-date="{{ block.settings.end_date }}"
           data-has-timer="{{ block.settings.enable_timer }}">
        
        <span class="announcement-bar__text">
          {{ block.settings.text }}
        </span>

        {% if block.settings.enable_timer %}
        <span class="announcement-timer hidden">
          <span class="timer-days"></span>d 
          <span class="timer-hours"></span>h 
          <span class="timer-minutes"></span>m 
          <span class="timer-seconds"></span>s
        </span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar Soleil",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Color de fondo",
      "default": "#e3f7c8"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Color del texto",
      "default": "#110933"
    }
  ],
  "blocks": [
    {
      "type": "message",
      "name": "Mensaje",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Prueba"
        },
        {
          "type": "checkbox",
          "id": "enable_timer",
          "label": "Activar temporizador",
          "default": false
        },
        {
          "type": "text",
          "id": "end_date",
          "label": "Fecha final (YYYY-MM-DD)",
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}